body
{
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

.header
{
    height: 80px;
}

#faixa-1, #faixa-2
{
    height: 15%;
    min-width: 100%;
}

#faixa-1
{
    background-color: rgb(124, 124, 124);
}

#faixa-2
{
    background-color: rgba(124, 124, 124, 0.699);
}

#nav-cabecalho
{
    text-align: center;
    min-height: 50%;
    padding-left: 60%;
    background-color: rgba(124, 124, 124, 0.178);
}

#nav-cabecalho a
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.623);
    padding-left: 5%;
    padding-right: 5%;
}

#foto-nome
{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

#nome
{
    padding-left: 15%;
    padding-right: 10%;
    max-width: 30%;
    padding-bottom: 30px;
    /*
    width nome e descricao = 55%
    width para foto = 45%
    */
}

button
{
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: 90%;
    width: 50%;
    height: 20%;
    border: 0;
    border-radius: 3%;
}

button:hover
{
    background-color: rgba(128, 128, 128, 0.623);
}

#foto-nome h2
{
    text-decoration: none;
    font-size: 80%;
}

#foto
{
    padding-left: 15%;
    padding-right: 5%;
    max-width: 20%;
    padding-bottom: 30px;
}

#foto img
{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid gray;
}
